/T034/bin
/T034/obj
/T034.Db/bin
/T034.Db/obj

vgiik.suo
T034/strazi.csproj.user
/T034/Content/images/car
/T034/Content/images/interior
/T034/Content/images/picture
/T034/Content/images/works
/publish
