  <script type="text/javascript">      
       jQuery(function () {
          jQuery('a[rel*=lightbox_s]').lightBox();
      }); 
</script>

<div class="row">
    <div class="col-xs-6 col-md-6">
        <div class="htext">
            <BR/> Подарок! Эксклюзивный подарок!
            <BR/> Ваш вопрос — мой ответ!<BR/>&nbsp; 
        </div>

        <div class="dband">Что подарить:
            <li>любимой женщине,
            <li>юбиляру,
            <li>коллеге,
            <li>имениннику,
            <li>начальнице,
            <li>сестре,
            <li>шефу,
            <li>молодожёнам,
            <li>новосёлам,
            <li>партнеру по бизнесу,
            <li>подруге,
            <li>человеку, «у которого есть всё»..? 
            <BR/>&nbsp; 
        </div>
    </div>
    <div class="col-xs-6 col-md-6" id="sampleContent" style="height: 423px">
        <a name="a105099" rel="lightbox_s" href="/Content/images/1003151467.jpg" title="">
            <img border="0" src="/Content/images/1003151467.jpg" alt="">
        </a>
        <a name="a105100" rel="lightbox_s" href="/Content/images/1005301257.jpg" title="">
            <img border="0" src="/Content/images/1005301257-tn.jpg" alt="">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="dbanw">Подарите картину - эксклюзивную картину со стразами Swarovski!</div>
        <div class="dbanw">Сверкающие кристаллы приковывали к себе взгляды во все времена, и наш век не исключение!</div>
        <div class="dbanw">Картины с оригинальными кристаллами (стразами) Swarovski никого не оставят равнодушными и станут прекрасным дополнением любого интерьера!</div>
        <div class="dband"><p>... и про себя не забывайте! Сделайте уникальными свои предметы интерьера и любимое авто!</p></div>
    </div>
</div>

<div class="jcarousel-wrapper">
    <div class="jcarousel gallery text">
        <ul>
            <li><img src="/Content/images/1003151467-tn.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/1005301257-tn.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/113nk_enl-tn.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/14_8-150.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/1449265-tn.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/19-tn.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/23-tn.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/3-tn.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/3c581554d1418b8c0e9fba8ecfad32ac_1333597374_800_800-tn.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/4-tn.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/4_5-tn.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/5-tn.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/64450731_800-tn.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/657091295-150.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/866187450-150.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/d200_12605-4-150.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/DSC03415-tn.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/img1213_22093_big-tn.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/IMG124-150.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/mujchine-150.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/Дама с собачкой-150.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
            <li><img src="/Content/images/МоЁ-tn.jpg" data-target="#sampleContent" data-src="Home/Sample"></li>
        </ul>
    </div>
    <a class="jcarousel-control-prev" href="#">‹</a>
    <a class="jcarousel-control-next" href="#">›</a>
</div>

