<div class="text">
    <div class="row" id="sampleContent">
        @{
            Html.RenderAction("Work", "Home", new { file = "1003151467-tn.jpg" });
        }
    </div>
</div>

<div class="jcarousel-wrapper">
    <div class="jcarousel gallery text">
        <ul>
            <li><img src="/Content/images/1003151467-tn.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/1005301257-tn.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/113nk_enl-tn.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/14_8-150.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/1449265-tn.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/19-tn.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/23-tn.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/3-tn.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/3c581554d1418b8c0e9fba8ecfad32ac_1333597374_800_800-tn.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/4-tn.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/4_5-tn.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/5-tn.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/64450731_800-tn.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/657091295-150.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/866187450-150.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/d200_12605-4-150.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/DSC03415-tn.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/img1213_22093_big-tn.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/IMG124-150.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/mujchine-150.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/Дама с собачкой-150.jpg" data-target="#sampleContent"></li>
            <li><img src="/Content/images/МоЁ-tn.jpg" data-target="#sampleContent"></li>
        </ul>
    </div>
    <a class="jcarousel-control-prev" href="#">‹</a>
    <a class="jcarousel-control-next" href="#">›</a>
</div>