@model T034.ViewModel.Strazi.WorkViewModel

<div class="col-xs-8 col-md-8">
    <img src="/Content/images/works/@Model.MediumFile" alt="Placeholder" class="custom">
</div>
<div class="col-xs-4 col-md-4">
    @foreach (var item in Model.Description)
    {
        <p class="text-left">@item</p>
    }
</div>
<ul class="thumbnails col-xs-4 col-md-4 text-left">
    @*<li><a href="/Content/images/works/@Model.MediumFile"><img src="/Content/images/works/@Model.SmallFile" alt="Thumbnails"></a></li>*@
    <li><img src="/Content/images/works/@Model.SmallFile" alt="Thumbnails"></li>
</ul>