<div class="text">
    <p class="htext">Хрустальные камни Swarovski восхищают и завораживают своим сиянием!
        <BR />Картины с кристаллами Swarovski станут изысканным дополнением любого интерьера и самым желанным подарком.
        <BR />Невероятную красоту картин невозможно передать через экран или фото! Это необходимо увидеть своими глазами!
    </p>
    <div class="row">
        <div class="col-xs-8 col-md-8">
            <img src="/Content/images/works/Розы от кисы-m.JPG" alt="Placeholder" class="custom">
        </div>
        <div class="col-xs-4 col-md-4">
            <p class="text-left">Наименование: Розы от кисы. (20см*30см)</p>
            <p class="text-left">Количество камней: 150 шт</p>
            <p class="text-left">Размерность камней: S10. S14. S16</p>
            <p class="text-left">Стоимость: 1 300 руб</p>
        </div>
        <ul class="thumbnails col-xs-4 col-md-4 text-left">
            <li><a href="/Content/images/works/Розы от кисы-m.JPG"><img src="/Content/images/works/Розы от кисы-tn.JPG" alt="Thumbnails"></a></li>
            <li><a href="/Content/images/works/Розы от кисы_1-m.JPG"><img src="/Content/images/works/Розы от кисы_1-tn.JPG" alt="Thumbnails"></a></li>
        </ul>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.thumbnails').simpleGal({
            mainImage: '.custom'
        });
    });
</script>

