<script type="text/javascript">
    $(function () {
        jQuery('a[rel*=lightbox_s]').lightBox();
        changeCategory('picture');
    });

       function changeCategory(category) {

           loadLightBox(category);
           loadCarousel(category);
           changeTitle(category);

       }
       function loadLightBox(category) {
           $.ajax({
               url: '/Home/LoadLightBox',
               data: { category: category }
           })
          .done(function (html) {
              $('#sampleContent').html(html);
              jQuery('a[rel*=lightbox_s]').lightBox();

              $('#sampleContent a').each(function (index, element) {
                  if (index != 0)
                      $(element).hide();
                  else
                      $(element).show();
              });
          });
      }
      function loadCarousel(category) {
          $.ajax({
              url: '/Home/LoadCarousel',
              data: { category: category }
          })
          .done(function (html) {
              $('#carouselContent').html(html);
              initCarousel();
          });
      }
       
       function changeTitle(category) {
           if (category == 'interior') {
               $('#imgTitlePic').hide();
               $('#imgTitleInt').show();
               $('#imgTitleCar').hide();

               $('#linkCar').show();
               $('#linkPic').show();
               $('#linkInt').hide();
           }
           if (category == 'car') {
               $('#imgTitlePic').hide();
               $('#imgTitleInt').hide();
               $('#imgTitleCar').show();
               
               $('#linkCar').hide();
               $('#linkPic').show();
               $('#linkInt').show();
           }
           if (category == 'picture') {
               $('#imgTitlePic').show();
               $('#imgTitleInt').hide();
               $('#imgTitleCar').hide();

               $('#linkCar').show();
               $('#linkPic').hide();
               $('#linkInt').show();
           }
       }
</script>
<div class="row">
    <div class="col-xs-6 col-md-6">
    </div>
    <div class="col-xs-6 col-md-6" id="titleCategory">
        <img src="/Content/pic/title_pic.png" min-height="48px" max-width="100%" id="imgTitlePic">
        <img src="/Content/pic/title_int.png" min-height="48px" max-width="100%" id="imgTitleInt">
        <img src="/Content/pic/title_car.png" min-height="48px" max-width="100%" id="imgTitleCar">
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6">
        <div class="htext">
            <BR/> Подарок! Эксклюзивный подарок!
            <BR/> Ваш вопрос — мой ответ!<BR/>&nbsp; 
        </div>

        <div class="dband">Что подарить:
            <ul>
                <li>любимой женщине,
                <li>юбиляру,
                <li>коллеге,
                <li>имениннику,
                <li>начальнице,
                <li>сестре,
                <li>шефу,
                <li>молодожёнам,
                <li>новосёлам,
                <li>партнеру по бизнесу,
                <li>подруге,
                <li>человеку, «у которого есть всё»..?
            </ul> 
        </div>
    </div>
    <div class="col-xs-6 col-md-6 v-align-middle" id="sampleContent">
    </div>
	<BR/>&nbsp;
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="dbanw">Подарите картину - эксклюзивную картину со стразами Swarovski!</div>
        <div class="dbanw">Сверкающие кристаллы приковывали к себе взгляды во все времена, и наш век не исключение!</div>
        <div class="dbanw">Картины с оригинальными кристаллами (стразами) Swarovski никого не оставят равнодушными и станут прекрасным дополнением любого интерьера!</div>
        <div class="dband"><p>... и про себя не забывайте! Сделайте уникальными свои предметы интерьера и любимое авто!</p></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-6" id="linkCar">
        <a href="#"><img src="/Content/pic/link_car.png" max-width="100%" min-height="48px" onclick="changeCategory('car');"></a>
    </div>
    <div class="col-md-6 col-xs-6" id="linkPic">
        <a href="#"><img src="/Content/pic/link_pic.png" max-width="100%" min-height="48px" onclick="changeCategory('picture');"></a>
    </div>
    <div class="col-md-6 col-xs-6" id="linkInt">
        <a href="#"><img src="/Content/pic/link_int.png" max-width="100%" min-height="48px" onclick="changeCategory('interior');"></a>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="carouselContent">
        
    </div>
</div>
