@model T034.ViewModel.Strazi.WorkViewModel

<a name="a105099" rel="lightbox_s" href="/Content/images/@Model.OriginalFile" title="">
    <img border="0" src="/Content/images/@Model.MediumFile" alt="">
</a>
