<div class="text">
    <ul>
        <li style="display:inline"><a href="/Content/images/1003151467.JPG"><img src="/Content/images/1003151467-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/1005301257.JPG"><img src="/Content/images/1005301257-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/113nk_enl.JPG"><img src="/Content/images/113nk_enl-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/14_8.JPG"><img src="/Content/images/14_8-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/1449265.JPG"><img src="/Content/images/1449265-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/19.JPG"><img src="/Content/images/19-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/23.JPG"><img src="/Content/images/23-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/3.JPG"><img src="/Content/images/3-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/3c581554d1418b8c0e9fba8ecfad32ac_1333597374_800_800.JPG"><img src="/Content/images/3c581554d1418b8c0e9fba8ecfad32ac_1333597374_800_800-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/4.JPG"><img src="/Content/images/4-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/4_5.JPG"><img src="/Content/images/4_5-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/5.JPG"><img src="/Content/images/5-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/64450731_800.JPG"><img src="/Content/images/64450731_800-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/657091295.JPG"><img src="/Content/images/657091295-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/866187450.JPG"><img src="/Content/images/866187450-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/d200_12605-4.JPG"><img src="/Content/images/d200_12605-4-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/DSC03415.JPG"><img src="/Content/images/DSC03415-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/img1213_22093_big.JPG"><img src="/Content/images/img1213_22093_big-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/IMG124.JPG"><img src="/Content/images/IMG124-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/mujchine.JPG"><img src="/Content/images/mujchine-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/Дама с собачкой.JPG"><img src="/Content/images/Дама с собачкой-tn.JPG" alt="Thumbnails"></a></li>
        <li style="display:inline"><a href="/Content/images/МоЁ.JPG"><img src="/Content/images/МоЁ-tn.JPG" alt="Thumbnails"></a></li>
    </ul>

</div>