@model T034.ViewModel.Strazi.WorkViewModel
@{
	var folder = "";
	if (Model.Description.Count > 0)
	{
	    folder = "works/";
	}
}

<div class="row" data-original="/Content/images/@folder@Model.MediumFile">
    <div class="col-xs-8 col-md-8">
        <a name="a105099" rel="lightbox_w" href="/Content/images/@folder@Model.MediumFile" title="">
            <img border="0" src="/Content/images/@folder@Model.MediumFile" alt="">
        </a>
    </div>
    <div class="col-xs-4 col-md-4">
        @foreach (var item in Model.Description)
        {
            <p class="text-left">@item</p>
        }
    </div>
    <ul class="thumbnails col-xs-4 col-md-4 text-left">
        @{
            if (Model.Description.Any())
            {
                <li><img src="/Content/images/@folder@Model.SmallFile" alt="Thumbnails"></li>
            }
        }
    </ul>
</div>