<div class="text">
    <p class="htext">Хрустальные камни Swarovski восхищают и завораживают своим сиянием!
        <BR />Картины с кристаллами Swarovski станут изысканным дополнением любого интерьера и самым желанным подарком.
        <BR />Невероятную красоту картин невозможно передать через экран или фото! Это необходимо увидеть своими глазами!
    </p>
    <div class="row" id="workContent">
        @{
            Html.RenderAction("Work", "Home", new { file = "anastasia-150.jpg" });
        }
    </div>
</div>

<div class="jcarousel-wrapper">
    <div class="jcarousel gallery text">
        <ul>
            <li><img src="/Content/images/works/anastasia-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/butterfly-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/nude-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/rosefrmcat-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/butterflies-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/tiger-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/cat-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/chmml-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/oneumbrl-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/guitar-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/ladybug-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/venicegrdn-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/venicesky-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/smilecat-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/orchid-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/rings-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
        </ul>
    </div>
    <a class="jcarousel-control-prev" href="#">‹</a>
    <a class="jcarousel-control-next" href="#">›</a>
</div>
