<script type="text/javascript">
    $(function () {
        initCarousel();
        jQuery('a[rel*=lightbox_w]').lightBox();
        showWork('anastasia-150.jpg', '#workContent');
    });
</script>

<div class="text">
    <p class="htext">Хрустальные камни Swarovski восхищают и завораживают своим сиянием!
        <BR />Картины с кристаллами Swarovski станут изысканным дополнением любого интерьера и самым желанным подарком.
        <BR />Невероятную красоту картин невозможно передать через экран или фото! Это необходимо увидеть своими глазами!
    </p>
    <div id="workContent">
        @{
            Html.RenderAction("Work", "Home", new { file = "anastasia-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "butterfly-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "rosefrmcat-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "butterflies-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "cat-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "chmml-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "guitar-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "ladybug-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "venicegrdn-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "venicesky-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "smilecat-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "orchid-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "rings-150.jpg" });

            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-09-31-10-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-09-31-11-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-09-31-1-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-09-31-12-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-09-31-13-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-09-31-14-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-09-31-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-09-31-2-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-09-31-3-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-09-31-4-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-09-31-5-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-09-31-6-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-09-31-7-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-09-31-8-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-09-31-9-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_5946-12-06-17-09-31-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_5984-12-06-17-09-31-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_5988-12-06-17-09-31-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_6027-12-06-17-09-31-150.jpg" });

            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-03-52-10-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-03-52-1-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-03-52-2-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-03-52-3-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-03-52-4-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-03-52-5-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-03-52-6-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-03-52-7-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-03-52-8-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "FullSizeRender-12-06-17-03-52-9-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_7362-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_7795-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_7798-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_7829-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_7830-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9083-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9085-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9086-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9087-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9088-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9090-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9095-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9188-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9192-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9634-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9639-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9662-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9666-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9673-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9675-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9680-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9688-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9692-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9741-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9743-12-06-17-03-52-150.jpg" });
            Html.RenderAction("Work", "Home", new { file = "IMG_9747-12-06-17-03-52-150.jpg" });
        }
    </div>
</div>

<div class="jcarousel-wrapper">
    <div class="jcarousel gallery text">
        <ul>
            <li><img src="/Content/images/works/anastasia-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/butterfly-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/rosefrmcat-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/butterflies-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/cat-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/chmml-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/guitar-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/ladybug-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/venicegrdn-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/venicesky-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/smilecat-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/orchid-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/rings-150.jpg" data-target="#workContent" data-src="Home/Work"></li>

            <li><img src="/Content/images/works/FullSizeRender-12-06-17-09-31-10-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-09-31-11-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-09-31-1-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-09-31-12-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-09-31-13-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-09-31-14-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-09-31-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-09-31-2-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-09-31-3-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-09-31-4-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-09-31-5-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-09-31-6-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-09-31-7-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-09-31-8-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-09-31-9-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_5946-12-06-17-09-31-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_5984-12-06-17-09-31-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_5988-12-06-17-09-31-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_6027-12-06-17-09-31-150.jpg" data-target="#workContent" data-src="Home/Work"></li>

            <li><img src="/Content/images/works/FullSizeRender-12-06-17-03-52-10-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-03-52-1-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-03-52-2-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-03-52-3-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-03-52-4-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-03-52-5-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-03-52-6-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-03-52-7-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-03-52-8-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/FullSizeRender-12-06-17-03-52-9-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_7362-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_7795-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_7798-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_7829-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_7830-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9083-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9085-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9086-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9087-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9088-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9090-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9095-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9188-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9192-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9634-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9639-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9662-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9666-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9673-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9675-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9680-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9688-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9692-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9741-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9743-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
            <li><img src="/Content/images/works/IMG_9747-12-06-17-03-52-150.jpg" data-target="#workContent" data-src="Home/Work"></li>
        </ul>
    </div>
    <a class="jcarousel-control-prev" href="#">‹</a>
    <a class="jcarousel-control-next" href="#">›</a>
</div>
