@{
    ViewBag.Title = "Стразы в подарок";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="text">
<br><br><br><br><br>
	<p><img src="/Content/images/1003151467.jpg" alt="..."></p>
	<p><img src="/Content/images/1005301257.jpg" alt="..."></p>
	<p><img src="/Content/images/113nk_enl.jpg" alt="..."></p>
	<p><img src="/Content/images/14_8.jpg" alt="..."></p>
	<p><img src="/Content/images/1449265.jpg" alt="..."></p>
	<p><img src="/Content/images/19.jpg" alt="..."></p>
	<p><img src="/Content/images/23.jpg" alt="..."></p>
	<p><img src="/Content/images/3.jpg" alt="..."></p>
	<p><img src="/Content/images/3c581554d1418b8c0e9fba8ecfad32ac_1333597374_800_800.jpg" alt="..."></p>
	<p><img src="/Content/images/4.jpg" alt="..."></p>
	<p><img src="/Content/images/4_5.jpg" alt="..."></p>
	<p><img src="/Content/images/5.jpg" alt="..."></p>
	<p><img src="/Content/images/64450731_800.jpg" alt="..."></p>
	<p><img src="/Content/images/657091295.jpg" alt="..."></p>
	<p><img src="/Content/images/866187450.jpg" alt="..."></p>
	<p><img src="/Content/images/d200_12605-4.jpg" alt="..."></p>
	<p><img src="/Content/images/DSC03415.jpg" alt="..."></p>
	<p><img src="/Content/images/img1213_22093_big.jpg" alt="..."></p>
	<p><img src="/Content/images/IMG124.jpg" alt="..."></p>
	<p><img src="/Content/images/mujchine.jpg" alt="..."></p>
	<p><img src="/Content/images/Дама с собачкой.jpg" alt="..."></p>
	<p><img src="/Content/images/МоЁ.jpg" alt="..."></p>
</div>