@{
    ViewBag.Title = "Готовые работы";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<h2>Готовые работы</h2>

<div class="main-image">
    <img src="/Content/images/works/Киса.JPG" alt="Placeholder" class="custom">
</div>

<ul class="thumbnails">
    <li><a href="/Content/images/works/Киса.JPG"><img src="/Content/images/works/Киса-tn.JPG" alt="Thumbnails"></a></li>
    <li><a href="/Content/images/works/Ню.JPG"><img src="/Content/images/works/Ню-tn.JPG" alt="Thumbnails"></a></li>
    <li><a href="/Content/images/works/Розы от кисы.JPG"><img src="/Content/images/works/Розы от кисы-tn.JPG" alt="Thumbnails"></a></li>
</ul>


<script src="/Scripts/jquery.simpleGal.min.js"></script>
<script>
    $(document).ready(function () {
        $('.thumbnails').simpleGal({
            mainImage: '.custom'
        });
    });
</script>

@Html.Partial("Strazi/Butterfly")