body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #ffffff;
    background-color: #53677b;
    background: url("pic/back.png") repeat scroll 0 0 #fff;
}

.main
{
    font-size: 14px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #000000;
    background-color: #d3d5da;
    background: url("pic/light.png") repeat scroll 0 0 #fff;
    width: 100%;
    padding: 0 0 0 0;
}


.banner
{
    background-color: #53677b;
    background: url("pic/banner_line.png") repeat scroll 0 0 #fff;
    width: 100%;
    height: 235px;
    text-align: center;
    padding: 0 0 0 0;
}

.bban
{
    font-family: a_AvanteLt.ttf;
    src: url("font/a_AvanteLt.ttf");
    color: #d3d5da;
    font-style: italic;
    text-align: center;
    letter-spacing: 5px;
    font-size: 20px;
    background-color: #2b3e54;
    background: url("pic/bback.png") repeat scroll 0 0 #fff;
    max-width: 100%;
    min-width: 950px;
    height: 47px;
    padding: 0 0 0 0;
}

.cyanline
{
    background-color: #06bfd9;
    background: url("pic/cyan.png") repeat scroll 0 0 #fff;
    width: 100%;
    height: 7px;
    padding: 0 0 0 0;
}

.greyline
{
    background-color: #2e4056;
    background: url("pic/grey.png") repeat scroll 0 0 #fff;
    width: 100%;
    height: 7px;
    padding: 0 0 0 0;
}


.example
{
    font-size: 16px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #000000;
    background-color: #d3d5da;
    text-align: center;
    background: url("pic/light.png") repeat scroll 0 0 #fff;
    padding: 20px 20px 20px 20px;
    max-width: 100%;
    min-width: 950px;
}

.ready
{
    font-size: 16px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #ffffff;
    background-color: #2d3f57;
    text-align: center;
    background: url("pic/back.png") repeat scroll 0 0 #fff;
    padding: 20px 20px 20px 20px;
}

.htext
{
    font-size: 18px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #02c0e6;
    text-align: center;
    text-shadow: 1px -1px 0px #1e2a38;
    min-width: 475px;
}

.dban
{
    font-family: a_AvanteLt.ttf;
    src: url("font/a_AvanteLt.ttf");
    color: #d3d5da;
    font-style: italic;
    text-align: center;
    letter-spacing: 5px;
    font-size: 20px;
    background-color: #2d3f57;
    background: url("pic/back.png") repeat scroll 0 0 #fff;
    width: 100%;
    height: 40px;
    padding: 0 0 0 0;
}

.dband
{
    font-family: a_AvanteLt.ttf;
    src: url("font/a_AvanteLt.ttf");
    color: #2d3f57;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding: 0 0 0 0;
    min-width: 475px;
}

.dband ul
{
    list-style: outside disc none;
    list-style-type: disc;
    list-style-position: inside;
}

.dbanw
{
    font-family: a_AvanteLt.ttf;
    src: url("font/a_AvanteLt.ttf");
    color: #293d54;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    padding: 0 0 0 0;
}

.reklama
{
    font-size: 13px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #2b3d54;
    background-color: #8f9aa7;
    height: 200px;
    text-align: center;
    background: url("pic/darkgrey.png") repeat scroll 0 0 #fff;
    padding: 0 0 0 0;
}

.dlink
{
    background: url("pic/back.png") repeat scroll 0 0 #fff;
    padding: 5px 20px 10px 0px;
}


/* Styles for bottom menu link
-----------------------------------------------------------*/

A.a
{
	font-size: 12px;
        font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	color: #d3d5da;
	text-decoration: none;
	font-align: right;
	background: url("pic/back.png") repeat scroll 0 0 #fff;
	vertical-align: middle;
	text-shadow: -1px 1px 0px #2b3e54;
}

A.a:hover
{
	color: #ffffff;
	text-decoration: none;
}

#right 
{ 
	text-align: right;
}





/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.v-align-middle a
{
    vertical-align: middle;
}

.v-align-middle a img
{
    max-width: 100%;
    max-height: 100%;
}

.height-500-width-100 div
{
    max-width: 100%;
    height: 500px;
}

img
{
    max-width: 100%;
}

